<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  
                    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral Fellow</h3>
                            <div class="time">2017 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Montreal University, Montreal Polytechnic, Canada</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
                
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral Fellow</h3>
                            <div class="time">2016 - present (on sabbatical)</div>
                        </div><!--//upper-row-->
                        <div class="company">FOI Varaždin, University of Zagreb, Croatia</div>
                    </div><!--//meta-->
                    <div class="details">
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Visiting PhD Student</h3>
                            <div class="time">2012 - 2014 (1yr)</div>
                        </div><!--//upper-row-->
                        <div class="company">Mälardalen University, Sweden</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research in Component Based Software Enginering focused on Software Deployment tecniques for Heterogeneous computing platforms (CPU, GPU, FPGA), and a team member (in charge for software architecture and mission development) of Malardalen Universities' underwater robot team at AUVSI RoboSub 2013 and 2014.</p>  
                        <p>ref: Ivica Crnković, Lars Asplund, Mickael Ekstrom</p>  
                  </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant / PhD Student</h3>
                            <div class="time">2010 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">FOI Varaždin, University of Zagreb, Croatia</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>PhD Student with focus on Component Based Software Engineering, teaching undergraduate (Software Engineering, .NET) and graduate courses (Software Analysis and Design, Android).</p>  
                      <p>advisors: Neven Vrček, Ivica Crnković</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">FOI Varaždin, Croatia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Web Development, PHP/HTML/CSS, Java, SQL, Grails...</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
