<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
  
                    <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Postdoctoral Researcher</h3>
                            <div class="time">2017 - present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.mistlab.ca">MISTLab</a>, <a href="http://www.polymtl.ca">Polytechnique Montreal</a>, QC, Canada </div>
                    </div><!--//meta-->
                    <div class="details">
                    <p> 
                    Currently at <a href="http://www.mistlab.ca">MISTLab</a> engaged at the project "Software Engineering and Software for Swarm Robotics". This involves working with ROS (for areal robots, Copter3.3), Mavros and varios simulators. His research goal is to achieve long-term autonomy with a heterogeneous swarm, through Buzz (<a href="http://the.swarming.buzz/">the.swarming.buzz</a>), in the simulated (ARGoS Simulator(<a href="http://argos-sim.info">argos-sim.info</a>)) and real world environment. Furthermore, he is a contributor to customizing and exending Buzz programming language and ARGoS simulator. 
                    </p>
                    </div><!--//details-->
                </div><!--//item-->
              
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="http://www.es.mdh.se/staff/2621-Ivan_Svogor">External Researher / PhD Student</a></h3>
                            <div class="time">2012 - 2014 (1 year)</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.es.mdh.se/divisions/53-Division_of_Computer_Science_and_Software_Engineering">Mälardalen University</a>, Sweden</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        His research was in Component Based Software Engineering on the project <a href="http://www.mrtc.mdh.se/projects/ralf3/">RALF3 - Software for Embedded High Performance Architectures</a>. The focus of the work were software deployment techniques in a heterogeneous computing environment, which resulted in a PhD thesis on the method for software component allocation based on a multi-objective decision making algorithm for heterogeneous embedded computing platforms (primarily CPU, GPU and FPGA). </p>
                        In addition, he was a team member (in charge for software architecture and mission development) and the representative of the 
                         <a href="http://www.mdh.se/?l=en_UK">Malardalen Universities</a> underwater robot team at <a href="http://www.robonation.org/competition/robosub">AUVSI RoboSub</a> 2013 and 2014. My work was supervised by <a href="Ivica Crnkovic">Ivica Crnkovic</a>, <a href="https://www.linkedin.com/in/jimmieasplund/">Lars Asplund</a> and <a href="http://www.es.mdh.se/staff/98-Mikael_Ekstrom">Mickael Ekstrom</a></p> 
                  </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant / PhD Student</h3>
                            <div class="time">2010 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://foi.unizg.hr">FOI Varaždin</a>, <a href="http://www.unizg.hr/">University of Zagreb</a>, Croatia</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>PhD Student with focus on Component Based Software Engineering, teaching undergraduate (Software Engineering, .NET) and graduate courses (Software Analysis and Design, Android).</p>  
                      <p>PhD Thesis (available to download): <a href="http://services.foi.hr/thesis_phd/rad_svogor.pdf">A Framework for Allocation of Software Components onto a Heterogeneous Computing System</a></p>
                      <p>PhD Supervisors: <a href="https://scholar.google.hr/citations?user=z60oM00AAAAJ&hl=en">Neven Vrček</a>, University of Zagreb, Croatia; <a href="https://scholar.google.hr/citations?user=yewx0GgAAAAJ&hl=en">Ivica Crnkovic</a>, Chalmers University of Technology, Sweden.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://foi.unizg.hr">FOI Varaždin</a>, Croatia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Web and Android Development (PHP (MVC), eZ Publish, SQL, Java, Grails, etc.).</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
