
<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Publications</h2>
            <div class="container-block">
                <ul style="padding: 0px">
                    <li class="ai ai-google-scholar">
                      <span style="font-size: 14px;font-family: 'Roboto',sans-serif;">
                        <a href="https://scholar.google.hr/citations?user=-xwB1UoAAAAJ&hl=en" target="_blank">Google Scholar Profile</a>
                      </span>
                   </li> 
                  
                   <li class="ai ai-figshare">
                      <span style="font-size: 14px;font-family: 'Roboto',sans-serif;">
                       <a href="https://www.researchgate.net/profile/Ivan_Svogor" target="_blank">FigShare Open Science Data</a></span>
                   </li>
                  
                   <li class="ai ai-researchgate">
                      <span style="font-size: 14px;font-family: 'Roboto',sans-serif;">
                        <a href="https://www.researchgate.net/profile/Ivan_Svogor" target="_blank">ResearchGate</a></span>
                   </li>
                </ul>
            </div><!--//contact-container-->
</section><!--//publications-section-->
