
<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Publications</h2>
                <div class="skillset">        
                    (linkedin)
                    <div class="item">
                        <h3 class="level-title">Software Engineering</h3>                                    
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    
                </div>  
            </section><!--//publications-section-->
