<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    (linkedin)
                    <div class="item">
                        <h3 class="level-title">Software Engineering</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Software Development, Android</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Component Based SE, Patterns</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Research</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Latex</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="35%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Electronics (IoT)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
